<?xml version="1.0"?>
<config>
    <modules>
        <Emartech_Emarsys>
            <version>1.0.1</version>      <!-- Version number of your module -->
        </Emartech_Emarsys>
    </modules>
    <global>
        <models>
            <emartech_emarsys>
                <class>Emartech_Emarsys_Model</class>
            </emartech_emarsys>
        </models>
        <helpers>
            <emartech_emarsys>
                <class>Emartech_Emarsys_Helper</class>
            </emartech_emarsys>
        </helpers>
        <blocks>
            <emartech_emarsys>
                <class>Emartech_Emarsys_Block</class>
            </emartech_emarsys>
        </blocks>
        <resources>
            <emartech_emarsys_setup>
                <setup>
                    <module>Emartech_Emarsys</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </emartech_emarsys_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <emarsys>
                <use>standard</use>
                <args>
                    <module>Emartech_Emarsys</module>
                    <frontName>emarsys</frontName>
                </args>
            </emarsys>
        </routers>
    </frontend>
</config>
