<?xml version="1.0"?>
<config>
  <modules>
    <Emartech_EmarsysMagento1Extension>
      <version>0.1.0</version>      <!-- Version number of your module -->
    </Emartech_EmarsysMagento1Extension>
  </modules>
  <frontend>
    <routers>
      <emarsys>
        <use>standard</use>
        <args>
          <module>Emartech_EmarsysMagento1Extension</module>
          <frontName>emarsys</frontName>
        </args>
      </emarsys>
    </routers>
  </frontend>
</config>
