<?xml version="1.0"?>
<config>
    <modules>
        <Emartech_Emarsys>
            <version>1.1.0</version>
        </Emartech_Emarsys>
    </modules>
    <global>
        <models>
            <emartech_emarsys>
                <class>Emartech_Emarsys_Model</class>
                <resourceModel>emartech_emarsys_resource</resourceModel>
            </emartech_emarsys>

            <emartech_emarsys_resource>
                <class>Emartech_Emarsys_Model_Resource</class>
                <entities>
                    <event>
                        <table>emarsys_events_data</table>
                    </event>
                </entities>
            </emartech_emarsys_resource>
        </models>
        <helpers>
            <emartech_emarsys>
                <class>Emartech_Emarsys_Helper</class>
            </emartech_emarsys>
        </helpers>
        <blocks>
            <emartech_emarsys>
                <class>Emartech_Emarsys_Block</class>
            </emartech_emarsys>
        </blocks>
        <resources>
            <emartech_emarsys_setup>
                <setup>
                    <module>Emartech_Emarsys</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </emartech_emarsys_setup>
        </resources>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <emarsys_checkout_onepage_controller_success_action>
                        <class>emartech_emarsys/observer_order_success</class>
                        <method>checkoutOnepageControllerSuccessAction</method>
                    </emarsys_checkout_onepage_controller_success_action>
                </observers>
            </checkout_onepage_controller_success_action>
            <customer_register_success>
                <observers>
                    <emarsys_customer_register_success>
                        <class>emartech_emarsys/observer_marketing</class>
                        <method>customerRegisterSuccess</method>
                    </emarsys_customer_register_success>
                </observers>
            </customer_register_success>
            <customer_save_commit_after>
                <observers>
                    <emarsys_customer_save_commit_after>
                        <class>emartech_emarsys/observer_event</class>
                        <method>customerSaveCommitAfter</method>
                    </emarsys_customer_save_commit_after>
                </observers>
            </customer_save_commit_after>
            <customer_address_save_commit_after>
                <observers>
                    <emarsys_customer_address_save_commit_after>
                        <class>emartech_emarsys/observer_event</class>
                        <method>customerAddressSaveCommitAfter</method>
                    </emarsys_customer_address_save_commit_after>
                </observers>
            </customer_address_save_commit_after>
            <newsletter_subscriber_save_after>
                <observers>
                    <emarsys_newsletter_subscriber_save_after>
                        <class>emartech_emarsys/observer_event</class>
                        <method>newsletterSubscriberSaveAfter</method>
                    </emarsys_newsletter_subscriber_save_after>
                    <emarsys_newsletter_subscriber_save_after_marketing>
                        <class>emartech_emarsys/observer_marketing</class>
                        <method>newsletterSubscriberSaveAfter</method>
                    </emarsys_newsletter_subscriber_save_after_marketing>
                </observers>
            </newsletter_subscriber_save_after>
            <newsletter_subscriber_delete_after>
                <observers>
                    <emarsys_newsletter_subscriber_delete_after>
                        <class>emartech_emarsys/observer_event</class>
                        <method>newsletterSubscriberSaveAfter</method>
                    </emarsys_newsletter_subscriber_delete_after>
                    <emarsys_newsletter_subscriber_delete_after_marketing>
                        <class>emartech_emarsys/observer_marketing</class>
                        <method>newsletterSubscriberDeleteAfter</method>
                    </emarsys_newsletter_subscriber_delete_after_marketing>
                </observers>
            </newsletter_subscriber_delete_after>
            <sales_order_save_after>
                <observers>
                    <emarsys_sales_order_save_after>
                        <class>emartech_emarsys/observer_event</class>
                        <method>salesOrderSaveAfter</method>
                    </emarsys_sales_order_save_after>
                </observers>
            </sales_order_save_after>
            <sales_order_place_after>
                <observers>
                    <emarsys_sales_order_place_after>
                        <class>emartech_emarsys/observer_marketing</class>
                        <method>salesOrderPlaceAfter</method>
                    </emarsys_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <sales_order_invoice_save_after>
                <observers>
                    <emarsys_ssales_order_invoice_save_after>
                        <class>emartech_emarsys/observer_marketing</class>
                        <method>salesOrderInvoiceSaveAfter</method>
                    </emarsys_ssales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_shipment_save_after>
                <observers>
                    <emarsys_sales_order_shipment_save_after>
                        <class>emartech_emarsys/observer_marketing</class>
                        <method>salesOrderShipmentSaveAfter</method>
                    </emarsys_sales_order_shipment_save_after>
                </observers>
            </sales_order_shipment_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <emarsys_sales_order_creditmemo_save_after>
                        <class>emartech_emarsys/observer_marketing</class>
                        <method>salesOrderCreditmemoSaveAfter</method>
                    </emarsys_sales_order_creditmemo_save_after>
                </observers>
            </sales_order_creditmemo_save_after>
        </events>
    </global>
    <frontend>
        <routers>
            <emarsys>
                <use>standard</use>
                <args>
                    <module>Emartech_Emarsys</module>
                    <frontName>emarsys</frontName>
                </args>
            </emarsys>
        </routers>
        <layout>
            <updates>
                <emarsys>
                    <file>emarsys.xml</file>
                </emarsys>
            </updates>
        </layout>
    </frontend>
</config>
